[submodule "knowledge-admin-frontend"]
	path = knowledge-admin-frontend
	url = https://github.com/sunmoonlion/knowledge-admin-frontend.git
[submodule "knowledge-web-frontend"]
	path = knowledge-web-frontend
	url = https://github.com/sunmoonlion/knowledge-web-frontend.git
[submodule "knowledge-backend"]
	path = knowledge-backend
	url = https://github.com/sunmoonlion/knowledge-backend.git
